.ds-icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: var(--spacing-md);
}

.ds-icon-list--vertical {
    flex-direction: column;
}

.ds-icon-list--horizontal {
    flex-direction: row;
    flex-wrap: wrap;
}

.ds-icon-list-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ds-icon-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-accent-orange);
}

.ds-icon-list-icon svg {
    fill: currentColor;
}